/* 
   code highlight CSS resemblign the Eclipse IDE default color schema
   @author Costin Leau
*/

.programlisting {
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
}

.programlisting .interfacename,
.programlisting .literal,
.programlisting .classname {
    font-size: 95%;
}

.title .interfacename,
.title .literal,
.title .classname {
    font-size: 130%;
}

/* everything in a <lineannotation/> is displayed in a coloured, comment-like font */
.programlisting * .lineannotation,
.programlisting * .lineannotation * {
    color: green;
}

.hl-keyword {
  color: #7F0055;
  font-weight: bold; 
}

.hl-comment {
  color: #3F5F5F;
  font-style: italic;
}

.hl-multiline-comment {
  color: #3F5FBF;
  font-style: italic;
}

.hl-tag {
  color: #3F7F7F;
}

.hl-attribute {
  color: #7F007F;
}

.hl-value {
  color: #2A00FF;
}

.hl-string {
  color: #2A00FF;
}
