#macro ( copyright )
  #if ( $project )
    #set ( $currentYear = ${currentDate.year} + 1900 )

    #if ( ${project.inceptionYear} && ( ${project.inceptionYear} != ${currentYear.toString()} ) )
      ${project.inceptionYear}-${currentYear}
    #else
      ${currentYear}
    #end

    #if ( ${project.organization} && ${project.organization.name} )
      ${project.organization.name}
    #end
  #end
#end

#macro ( menuItem $href $name )
  #set ( $currentItemHref = $PathTool.calculateLink( $href, $relativePath ) )
  #set ( $currentItemHref = $currentItemHref.replaceAll( "\\", "/" ) )

  #if ( $alignedFileName == $currentItemHref )
    <strong>$name</strong>
  #else
    <a href="$currentItemHref">$name</a>
  #end
#end

$fileContent
