<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#macro ( copyright )
  #if ( $project )
    #set ( $currentYear = ${currentDate.year} + 1900 )

    #if ( ${project.inceptionYear} && ( ${project.inceptionYear} != ${currentYear.toString()} ) )
      ${project.inceptionYear}-${currentYear}
    #else
      ${currentYear}
    #end

    #if ( ${project.organization} && ${project.organization.name} )
      ${project.organization.name}
    #end
  #end
#end

#macro ( menuItem $href $name )
  #set ( $currentItemHref = $PathTool.calculateLink( $href, $relativePath ) )
  #set ( $currentItemHref = $currentItemHref.replaceAll( "\\", "/" ) )

  #if ( $alignedFileName == $currentItemHref )
    <strong>$name</strong>
  #else
    <a href="$currentItemHref">$name</a>
  #end
#end

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Sea Glass Look and Feel - $title</title>
    <style type="text/css" media="all">
      @import url("./css/site.css");
    </style>
    <link rel="stylesheet" href="./css/print.css" type="text/css" media="print" />
    <meta http-equiv="Content-Type" content="text/html; charset=$outputEncoding" />
  </head>
  <body class="composite">
    <div id="page">
      <div id="banner">
        <div id="bannerLeft">Sea Glass Look and Feel for Swing</div>
        <div id="bannerRight"><img src="images/logos/SeaGlassLogo.png" alt="" /></div>
        <div class="clear"><hr/></div>
      </div>
      <div id="breadcrumbs">
        <div class="xleft">Version: ${project.version}</div>
        <div class="xright">
          <a href="http://explodingpixels.wordpress.com" class="externalLink">Kenneth Orr</a>
          |
          <a href="http://www.kathrynhuxtable.org" class="externalLink">Kathryn Huxtable</a>
        </div>
        <div class="clear"><hr/></div>
      </div>
      <div id="leftColumn">
        <div id="navcolumn">
          <h5>Sea Glass Look and Feel</h5>
          <ul>
            <li class="expanded">#menuItem( "index.html" "Introduction" )</li>
            <li class="expanded">
              <a class="newWindow" target="_New" href="http://groups.google.com/group/sea-glass-look-and-feel" class="externalLink">Discussion Group</a>
            </li>
            <li class="expanded">
              <a class="newWindow" target="_New" href="http://seaglasslookandfeel.com" class="externalLink">Google Code</a>
            </li>
            <li class="expanded">#menuItem( "downloads.html" "Downloads" )</li>
            <li class="expanded">#menuItem( "usage.html" "Usage" )</li>
            <li class="expanded">#menuItem( "client-properties.html" "Client properties" )</li>
          </ul>

          <h5>Project Information</h5>
          <ul>
            <li class="expanded"><a href="dependencies.html">Dependencies</a></li>
            <li class="expanded"><a href="issue-tracking.html">Issue Tracking</a></li>
            <li class="expanded"><a href="mail-lists.html">Mailing Lists</a></li>
            <li class="expanded"><a href="license.html">Project License</a></li>
            <li class="expanded"><a href="project-summary.html">Project Summary</a></li>
            <li class="expanded"><a href="team-list.html">Project Team</a></li>
            <li class="expanded"><a href="source-repository.html">Source Repository</a></li>
          </ul>
          
          <h5>Project Reports</h5>
          <ul>
            <li class="expanded"><a href="cpd.html">CPD Report</a></li>
            <li class="expanded">
              <a class="newWindow" target="_New" href="apidocs/index.html">JavaDocs</a>
            </li>
            <li class="expanded"><a href="pmd.html">PMD Report</a></li>
            <li class="expanded">
              <a class="newWindow" target="_New" href="xref/index.html">Source Xref</a>
            </li>
            <li class="expanded"><a href="taglist.html">Tag List</a></li>
          </ul>
        </div>
      </div>

      <div id="bodyColumn">
        <div id="contentBox">
          $bodyContent
        </div>
      </div>

      <div class="clear"><hr/></div>
      <div id="footer">
        <div class="xleft">
          &#169;#copyright()
          <div id="lastPublished">Last Published: $lastPublished</div>
        </div>
        <div class="xright">
          <a href="http://maven.apache.org/" title="Built by Maven" class="poweredBy">
            <img class="poweredBy" alt="Built by Maven" src="./images/logos/maven-feather.png" width="90" height="30" border="1" />
          </a>
        </div>
        <div class="clear">
          <hr/>
        </div>
      </div>
    </div>
  </body>
</html>
