@IMPORT url("maven-base.css");
@IMPORT url("maven-theme.css");
@IMPORT url("highlight.css");

body {
  padding: 0px 0px 10px 0px;
}
body, td, select, input, li{
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 13px;
}
code{
  font-family: Courier, monospace;
  font-size: 13px;
}
a {
  text-decoration: none;
}
a:link {
  color:#3366aa;
}
a:visited  {
  color:#4477aa;
}
a:active {
  color:#6699cc;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}
h1.title {
  padding: 4px 4px 4px 6px;
  border: none;
  border-bottom: 1px solid #999999;
  color: #006095;
  background-color: white;
  font-weight:900;
  font-size: x-large;
}
h2 {
  padding: 4px 4px 4px 6px;
  border: none;
  border-bottom: 1px solid #999999;
  color: #006095;
  background-color: white;
  font-weight:900;
  font-size: x-large;
}
h3 {
  padding: 4px 4px 4px 6px;
  border: none;
  border-bottom: 1px solid #aaa;
  color: #006095;
  background-color: white;
  font-weight: normal;
  font-size: large;
}
h4 {
  padding: 4px 4px 4px 6px;
  border: none;
  border-bottom: 1px solid #b8c4b8;
  color: #006095;
  background-color: white;
  font-weight: normal;
  font-size: large;
}
h5 {
  padding: 4px 4px 4px 6px;
  color: #006095;
  font-size: normal;
}
p {
  line-height: 1.3em;
  font-size: small;
}
#breadcrumbs {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  background-color: white;
}
#leftColumn {
  margin: 10px 0 0 5px;
  border: none;
  background-color: white;
}
#navcolumn h5 {
  margin-top: 1em;
  font-size: smaller;
  border-bottom: 1px solid #aaaaaa;
  padding-top: 2px;
  color: #000000;
}

table.bodyTable th, table thead th {
  color: white;
  background-color: #72a0e0;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 1em;
}

table thead th, table tbody td {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9em;
}

table thead th, table tbody td {
  border: 2px solid white;
}

table.bodyTable tr.a, table tbody tr.a {
  background-color: #cce5f8;
}

table.bodyTable tr.b, table tbody tr.b {
  background-color: #edf7ff;
}
dl {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaaaaa;
  background-color: white;
}
dt {
  color: #006095;
}
.xleft {
  margin-left: 1.5em;
}
.xright {
  margin-right: 1.5em;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
#banner {
  margin: 1.5em;
  border-bottom: 1px solid #ffffff;
}
#footer {
  margin-top: 1em;
  border-top: 1px solid #aaaaaa;
}
.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

#bannerLeft { float: left; }

#bannerRight { float: right; }

.source {
  border: 1px solid #CCCCCC;
}

pre {
    font-size: 110%;
    padding: 5px;
}

/* From html.css */

.programlisting {
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
}

.programlisting .interfacename,
.programlisting .literal,
.programlisting .classname {
    font-size: 95%;
}

.title .interfacename,
.title .literal,
.title .classname {
    font-size: 130%;
}

/* everything in a <lineannotation/> is displayed in a coloured, comment-like font */
.programlisting * .lineannotation,
.programlisting * .lineannotation * {
    color: green;
}
