body {
  padding: 0px 0px 10px 0px;
}
body, td, select, input, li{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
}
code{
  font-family: Courier, monospace;
  font-size: 13px;
}
a {
  text-decoration: none;
}
a:link {
  color:#3366aa;
}
a:visited  {
  color:#4477aa;
}
a:active, a:hover {
  color:#6699cc;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}
h2 {
  padding: 4px 4px 4px 6px;
  border: none;
  border-bottom: 1px solid #999999;
  color: #006095;
  background-color: white;
  font-weight:900;
  font-size: x-large;
}
h3 {
  padding: 4px 4px 4px 6px;
  border: none;
  border-bottom: 1px solid #aaa;
  color: #006095;
  background-color: white;
  font-weight: normal;
  font-size: large;
}
h4 {
  padding: 4px 4px 4px 6px;
  border: none;
  border-bottom: 1px solid #b8b8c4;
  color: #006095;
  background-color: white;
  font-weight: normal;
  font-size: large;
}
h5 {
  padding: 4px 4px 4px 6px;
  color: #006095;
  font-size: normal;
}
p {
  line-height: 1.3em;
  font-size: small;
}
#breadcrumbs {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  background-color: #ccccd4;
}
#leftColumn {
  margin: 10px 0 0 5px;
  border: 1px solid #999999;
  background-color: #eeeef4;
}
#navcolumn h5 {
  font-size: smaller;
  border-bottom: 1px solid #aaaaaa;
  padding-top: 2px;
  color: #000000;
}

table.bodyTable th {
  color: white;
  background-color: #b8b9c4;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 1em;
}

table.bodyTable tr.a {
  background-color: #dddde2;
}

table.bodyTable tr.b {
  background-color: #eeeef4;
}

.source {
  border: 1px solid #999999;
}
dl {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaaaaa;
  background-color: #ffccff;
}
dt {
  color: #006095;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
#banner {
  border-bottom: 1px solid #ffffff;
}
.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

